@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%; /* cream */
    --foreground: 350 32% 20%;

    --card: 60 56% 91%;
    --card-foreground: 350 32% 20%;

    --popover: 60 56% 91%;
    --popover-foreground: 350 32% 20%;

    --primary: 350 32% 57%; /* rose gold */
    --primary-foreground: 350 30% 98%;

    --secondary: 240 60% 96%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 60% 96%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 67% 94%; /* lavender */
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 350 32% 80%;
    --input: 350 32% 80%;
    --ring: 350 32% 57%;

    --radius: 0.8rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 350 32% 57%;
    --primary-foreground: 350 30% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 350 32% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
  section {
    @apply min-h-screen w-full flex flex-col items-center justify-center p-4 sm:p-8 relative overflow-hidden;
  }
}
